.coord-container {
    display: flex;
    width: 346px;
    height: 378px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --chart-size: 300px;
}

#graph {
    width: var(--chart-size);
    height: var(--chart-size);
}

#graph canvas,
#graph img {
    width: var(--chart-size);
    height: var(--chart-size);
}

#graph canvas {
    position: absolute;
    border: solid 2px;
}

#task-chart {
    cursor: pointer;
}

.ready-button {
    width: 100px;
}

.show-coord-text {
    margin-top: -20px;
}