.vehicle-create-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 16px;
}

.vehicle-field {
    width: 200px;
}

.field-block {
    font-size: 1.2rem;
}

.field-title {
    margin-right: 16px;
}