<h1 mat-dialog-title>Создать машину</h1>
<div mat-dialog-content class="vehicle-create-container" [formGroup]="vehicleForm">
    <div class="field-block">
        <span class="field-title">Название:</span>
        <mat-form-field class="vehicle-field">
            <input matInput placeholder="Введите название" formControlName="name" autocomplete="off">
        </mat-form-field>
    </div>
    <div class="field-block">
        <span class="field-title">Координаты:</span>
        <mat-form-field class="vehicle-field">
            <input matInput placeholder="Введите координаты" readonly formControlName="coordinates" autocomplete="off">
            <button matSuffix mat-icon-button (click)="openCoordinatesPicker()">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="field-block">
        <span class="field-title">Мощность:</span>
        <mat-form-field class="vehicle-field">
            <input matInput type="number" min="0" placeholder="Введите мощность" formControlName="enginePower" autocomplete="off">
        </mat-form-field>
    </div>
    <div class="field-block">
        <span class="field-title">Кол-во колес:</span>
        <mat-form-field class="vehicle-field">
            <input matInput placeholder="Введите число" type="number" min="0" formControlName="numberOfWheels" autocomplete="off">
        </mat-form-field>
    </div>
    <div class="field-block">
        <span class="field-title">Тип машины:</span>
        <mat-form-field class="vehicle-field">
            <mat-select formControlName="vehicleType">
                <mat-option *ngFor="let type of getValuesFromEnum('vehicleType')" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="field-block">
        <span class="field-title">Топливо:</span>
        <mat-form-field class="vehicle-field">
            <mat-select formControlName="fuelType">
                <mat-option *ngFor="let type of getValuesFromEnum('fuelType')" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onReadyButtonClick()" [disabled]="vehicleForm.invalid">Готово</button>
    <button mat-raised-button [mat-dialog-close] cdkFocusInitial>Отмена</button>
    <button mat-raised-button (click)="onRandomClick()">Рандом</button>
</div>